*{
	margin:  0;
	padding: 0;
}
/**************
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;

***************/

a{
	text-decoration: none;
}


/***********

header section css start here

***********/
header{
	width: 100%;
	background-color: black;
	padding: 12px;

}

.nav-link{
	color: #848484 !important;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.nav-link:hover{
	color: #fff !important;
}


/*************
banner part css start here

************/
.banner{
	width: 100%;
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.banner-text{
	height: 90vh;
	display: table-cell;
	vertical-align: middle;

}

.banner-text img{
	margin-left: -15px;
	margin-bottom: 15px;
}

.banner-text h1{
	font-family: 'Raleway', sans-serif;
	color: #fff;
	width: 81%;
	font-weight: 400;
	font-size: 36px;
}
.banner-text .line{
	width: 14%;
	border: 2px solid #fff;
	margin-top: 40px;
}

.banner-text p{
	font-family: 'Raleway', sans-serif;
	color: #fff;
	margin-top: 40px;
	width: 94%;
	font-weight: 300;

}

.banner-text button{
	padding: 5px 15px ;
	background-color: transparent;
	color: #fff;
	border: 2px solid #fff;
	margin-top: 30px;

}

.banner-text button:hover{
	background: white;
	color: black;
	

}

.banner-form{
	height: 90vh;
	display: table-cell;
	vertical-align: middle;
}

.card{
	border: none;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.card-header{
	background-color: #f5f5f5;
	padding: 1rem 1rem;
}

.card-header h4{
	font-family: 'Open Sans', sans-serif;
	color: #333333;
	font-weight: 600;
	text-align: center;
}

.card-header  h4 span{
	color: #ff8b38;
	text-transform: uppercase;
}

.card-body {
    padding: 1rem 2.5rem !important;
}

.card-body input{
	width: 100%;
	border: none;
	border-bottom: 1px solid #cccccc;
    margin: 20px 0px;
    padding-bottom: 6px;
    padding-left: 15px;


}

.card-body input:focus{
	outline: none;
}

.card-body input::placeholder{
	color: #cccccc;
}

.card-body .last{
	margin-bottom: 34px !important;
}
.card-footer{
	background-color: #ff9b51;
}

.card-footer button{
	width: 100%;
	height: 50px;
	border: none;
	background-color: #ff9b51;
	color: #fff;
}

.card-footer button:focus{
	outline: none;
}


/**********************************
social media icon css starts here
***********************************/
.social-media{
	width: 100%;
	padding-top: 20px;
	box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.2)
	
}

.content{
	width: 100%;

}

.content h3{
	font-family: 'Open Sans', sans-serif;
	color: #333333;
	font-weight: 700;

}

.content p{
	font-family: 'Open Sans', sans-serif;
	color: #cccccc;
}


.icon{
	width: 100%;
}

.icon ul li{
	display: inline-block;
	list-style: none;
	margin-left: 45px;
	font-size: 40px;
	padding-top: 10px;
}

.icon ul li a{
	color: #cccccc;
}

.icon ul li a i:hover{
	color: blue;
}


/*********************
service css starts from here
*********************/

.service{
	width: 100%;
	background-color: #f5f5f5;
	padding: 60px 0px;
}



.service ul li{
	list-style: none;
	width: 100px;
	height: 107px;
	background-color: #333333;
	color: #ffffff;
	text-align: center;
	margin-bottom: 2px;
	line-height: 107px;
	

}

.service ul li:hover{
	cursor: pointer;
}

.item-1{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
		
}


.item-3{
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;

}

.active-color{
	background-color:  #ff8b38 !important;
}

.service .text{
	width: 100%;
	padding: 10px;
}

.service .text-1 h5 , .text-2 h5 , .text-3 h5{
	margin-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	margin-bottom: 1.4rem;


}

.service .text-1 p, .text-2 p, .text-3 p {
	width: 90%;
	font-family: 'Open Sans', sans-serif;
	color: #86878b;
}



.service .text-1 button, .text-2 button, .text-3 button{
	padding: 10px;
	width: 25%;
	background-color: #ff8b38;
	color: #ffffff;
	border: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	margin-top: 1rem;
}

.service .text-1 button, .text-2 button, .text-3 button:focus{
	outline: none;
}


.service .picture{
	margin-top: 30px;
	padding-left: 10px;
}


/*********************
post part css start here 
**********************/
.topic{
	width: 100%;
	margin-top: 70px;

}

.topic .topic-pic{

}

.topic .pic-detail{
	width: 100%;

}

.topic .pic-detail h5{

}

.topic .pic-detail .line-2{
	border-bottom: 2px solid #fe8d3a;
	width: 12%;
	margin-top: 30px;


}

.topic .pic-detail p{
	margin-top: 30px;
	color: #c3c3c5;
	margin-bottom: 30px;

}

.topic .pic-detail{
	width: 100%;
}
.pic-detail{
	margin-left: 30px;
	padding: 20px;
}

.pic-detail h5{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}


.imag{
	display: flex;
}
.imag .detail{
	margin-left: 40px;
}

.imag .detail h5{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;

}

.imag .detail p{
	margin-top: 0px;
	font-family: 'Open Sans', sans-serif;

}

.picture-1 ul li{
	list-style: none;
}

.picture-1 ul li a i{
	color: #ff8b38;
	width: 40px;
    color: #ff8b38;
    height: 40px;
    text-align: center;
    line-height: 36px;
    border-radius: 100%;
    background-color: transparent;
    border: 2px solid #ff8b38;
}


/****************
post-2 part css start here

***************/
.topic-2{
	width: 100%;
	background-color: #f5f5f5;
	padding: 70px 0px;
}

.topic-2 .topic-info .line-3{
	border-bottom: 2px solid #fe8d3a;
	width: 12%;
	margin-top: 30px;
	margin-bottom: 30px;
}

.topic-2 .topic-pic{
	margin-left: 40px;
}


/*****************
awesome top sextion css start here

*****************/
.top-section{
	width: 100%;
	padding:  100px 0px;
}

.top-part{

	width: 100%;
	margin-bottom: 100px;
}
.top-part h1{
	font-family: 'Raleway', sans-serif;
    font-size: 36px;
    color: #212121;
    text-align: center;
}

.top-part .line{
	border-bottom: 2px solid #fe8d3a;
	width: 12%;
	margin: 30px auto;
}

.top-part p{
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #86878b;
    text-align: center;
}

.top-section .content{
	text-align: center;
    
}

.top-section .content i{
	color: #ff8b38;
    border: 2px solid #ff8b38;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 67px;
    border-radius: 50%;
    font-size: 32px;
}

.top-section .content h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #212121;
    margin: 30px;
}

.top-section .content p{
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #86878b
}