*{
	margin:  0;
	padding: 0;
}
/**************
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;

***************/

a{
	text-decoration: none;
}


/***********

header section css start here

***********/
header{
	width: 100%;
	background-color: black;
	padding: 12px;

}

.navbar-toggler{
	border: 2px solid white !important;
}

.navbar-toggler-icon{
	background-color: #fff !important;
}

.nav-link{
	color: #fff !important;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	position: relative;
	margin-left: 15px;
}

.nav-link:hover{
	color: #848484 !important;
}
.nav-link:before{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 4px;
	width: 0;
	background: white;
}

.nav-link:hover:before{
	width: 100%;
	color: white !important;
	transition: 0.5s;
}



/*************
banner part css start here

************/
.banner{
	width: 100%;
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.banner-text{
	height: 90vh;
	display: table-cell;
	vertical-align: middle;

}

.banner-text img{
	margin-left: -15px;
	margin-bottom: 15px;
}

.banner-text h1{
	font-family: 'Raleway', sans-serif;
	color: #fff;
	width: 81%;
	font-weight: 400;
	font-size: 36px;
}
.banner-text .line{
	width: 14%;
	border: 2px solid #fff;
	margin-top: 40px;
}

.banner-text p{
	font-family: 'Raleway', sans-serif;
	color: #fff;
	margin-top: 40px;
	width: 94%;
	font-weight: 300;

}

.banner-text button{
	padding: 5px 15px ;
	background-color: transparent;
	color: #fff;
	border: 2px solid #fff;
	margin-top: 30px;

}

.banner-text button:hover{
	background: white;
	color: black;
	

}

.banner-text button:focus{
	outline: none;
}

.banner-form{
	height: 90vh;
	display: table-cell;
	vertical-align: middle;
}
.banner-form form{
	margin-left: 100px;
}

.card{
	border: none;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.card-header{
	background-color: #f5f5f5;
	padding: 1rem 1rem;
}

.card-header h4{
	font-family: 'Open Sans', sans-serif;
	color: #333333;
	font-weight: 600;
	text-align: center;
}

.card-header  h4 span{
	color: #ff8b38;
	text-transform: uppercase;
}

.card-body {
    padding: 1rem 2.5rem !important;
}

.card-body input{
	width: 100%;
	border: none;
	border-bottom: 1px solid #cccccc;
    margin: 20px 0px;
    padding-bottom: 6px;
    padding-left: 15px;


}

.card-body input:focus{
	outline: none;
}

.card-body input::placeholder{
	color: #cccccc;
}

.card-body .last{
	margin-bottom: 34px !important;
}
.card-footer{
	background-color: #ff9b51;
}

.card-footer button{
	width: 100%;
	height: 50px;
	border: none;
	background-color: #ff9b51;
	color: #fff;
}

.card-footer button:focus{
	outline: none;
}


/**********************************
social media icon css starts here
***********************************/
.social-media{
	width: 100%;
	padding-top: 20px;
	box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.2)
	
}

.content{
	width: 100%;

}

.content h3{
	font-family: 'Open Sans', sans-serif;
	color: #333333;
	font-weight: 700;

}

.content p{
	font-family: 'Open Sans', sans-serif;
	color: #cccccc;
}


.icon{
	width: 100%;
}

.icon ul li{
	display: inline-block;
	list-style: none;
	margin-left: 45px;
	font-size: 40px;
	padding-top: 10px;
}

.icon ul li a{
	color: #cccccc;
}

.icon ul li a i:hover{
	color: blue;
}


/*********************
service css starts from here
*********************/

.service{
	width: 100%;
	background-color: #f5f5f5;
	padding: 60px 0px;
}



.service ul li{
	list-style: none;
	width: 96px;
	height: 96px;
	background-color: #333333;
	color: #ffffff;
	text-align: center;
	margin-bottom: 2px;
	line-height: 96px;
	

}

.service ul li:hover{
	cursor: pointer;
}

.item-1{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
		
}


.item-3{
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;

}

.active-color{
	background-color:  #ff8b38 !important;
}

.service .text{
	width: 100%;
	padding: 10px;
}

.service .text-1 h5 , .text-2 h5 , .text-3 h5{
	margin-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	margin-bottom: 1.4rem;


}

.service .text-1 p, .text-2 p, .text-3 p {
	width: 90%;
	font-family: 'Open Sans', sans-serif;
	color: #86878b;
}



.service .text-1 button, .text-2 button, .text-3 button{
	padding: 10px;
	width: 30%;
	background-color: #ff8b38;
	color: #ffffff;
	border: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	margin-top: 1rem;
}

.service .text-1 button, .text-2 button, .text-3 button:focus{
	outline: none;
}


.service .picture{
	margin-top: 30px;
	padding-left: 10px;
}


/*********************
post part css start here 
**********************/
.topic{
	width: 100%;
	margin-top: 70px;

}

.topic .topic-pic{

}

.topic .pic-detail{
	width: 100%;

}

.topic .pic-detail h5{

}

.topic .pic-detail .line-2{
	border-bottom: 2px solid #fe8d3a;
	width: 12%;
	margin-top: 30px;


}

.topic .pic-detail p{
	margin-top: 30px;
	color: #c3c3c5;
	margin-bottom: 30px;

}

.topic .pic-detail{
	width: 100%;
}
.pic-detail{
	margin-left: 30px;
	padding: 20px;
}

.pic-detail h5{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}


.imag{
	display: flex;
}
.imag .detail{
	margin-left: 40px;
}

.imag .detail h5{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;

}

.imag .detail p{
	margin-top: 0px;
	font-family: 'Open Sans', sans-serif;

}

.picture-1 ul li{
	list-style: none;
}

.picture-1 ul li a i{
	color: #ff8b38;
	width: 40px;
    color: #ff8b38;
    height: 40px;
    text-align: center;
    line-height: 36px;
    border-radius: 100%;
    background-color: transparent;
    border: 2px solid #ff8b38;
}


/****************
post-2 part css start here

***************/
.topic-2{
	width: 100%;
	background-color: #f5f5f5;
	padding: 70px 0px;
}

.topic-2 .topic-info h5{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.topic-2 .topic-info .line-3{
	border-bottom: 2px solid #fe8d3a;
	width: 12%;
	margin-top: 30px;
	margin-bottom: 30px;
}
.topic-info .up p{
	font-family: 'Open Sans', sans-serif;
	color: #86878b;

}
.topic-info .down p{
	font-family: 'Open Sans', sans-serif;
	color: #86878b;

}

.topic-2 .topic-pic{
	margin-left: 40px;
}


/*****************
awesome top sextion css start here

*****************/
.top-section{
	width: 100%;
	padding:  100px 0px;
}

.top-part{

	width: 100%;
	margin-bottom: 100px;
}
.top-part h1{
	font-family: 'Raleway', sans-serif;
    font-size: 36px;
    color: #212121;
    text-align: center;
}

.top-part .line{
	border-bottom: 2px solid #fe8d3a;
	width: 12%;
	margin: 30px auto;
}

.top-part p{
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #a2a3a6;
    text-align: center;
}

.top-section .content{
	text-align: center;
    
}

.top-section .content i{
	color: #ff8b38;
    border: 2px solid #ff8b38;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 67px;
    border-radius: 50%;
    font-size: 32px;
}

.top-section .content h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #212121;
    margin: 30px;
}

.top-section .content p{
	font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #86878b
}


/*********************
pricing section css start here

*********************/

.pricing{
	width: 100%;
	background-color: #f5f5f5;
	padding: 70px 0px;
	text-align: center;
}

.same-section h1{
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	color: #212121;

}
.same-section .line-2{
	border-bottom: 2px solid #fe8d3a;
	width: 7%;
	margin: 30px auto;

}

.same-section p{
	font-family: 'Open Sans', sans-serif;
	color: #a2a3a6;

}
.pricing .row{
	align-items: flex-end;
}


.m-7{
	padding: 60px 0px;
}

.table-1{
	width: 100%;
	margin: 0px 20px;
	
}

.table-1 .price-cat , .price-body{
	background-color: #333333;
}

.price-cat{
	padding: 10px 0px;
	border-bottom: 1px solid white;
}

.price-cat p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	color: white;
	margin-bottom: 0;

}

.price-body{
	padding: 20px 0px;
	border-bottom: 8px solid #ff8b38;

}

.price-body h1{
	font-family: 'Raleway', sans-serif;
	color: white;
	margin-bottom: 10px;


}
.price-body h1 span{
	font-size: 80px;

}

.price-body p{
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	color: #999999;

}

.price-list{
	background-color: white;

}
.price-list ul{
	padding: 0;

}
.price-list ul li{
	list-style: none;
	border-bottom: 1px solid #f3f3f3;
	color: #86878b;
	padding: 10px 0px;
	text-transform: uppercase;

}

.middle .price-body{
	padding: 0;
	border: 0;
}

.price-body .p-body{
	padding: 20px 0px;
}

.price-body .extra{
	background-color: #ff8b38;
	padding: 10px 0px; 
}
.price-body .extra p{
	font-style: normal !important;
	color: #fff !important;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin-bottom: 0;
	text-transform: uppercase;

}

/************
customer review css start here

***********/
.customer-review{
	width: 100%;
	padding: 70px 0px;
	text-align: center;
}

.review-1{
	width: 100%;
}
.review-1 .msg{
	background-color: #f5f5f5;
	margin: 20px 0px;
	padding: 20px;
	border-radius: 2px;
	position: relative;
}
.review-1 .msg p{
	font-family: 'Open Sans', sans-serif;
	color: #9b9c9f;
	font-style: italic;
	text-align: left;
	margin-bottom: 0;
}

.review-1 .corner{
	position: absolute;
    height: 20px;
    width: 20px;
    background-color: #f5f5f5;
    bottom: -10px;
    left: 33px;
    transform: rotate(45deg)
}
.user{
	margin-top: 30px;
}
.user .col-md-3{
	padding-right: 0;
}

.user .col-md-9{
	text-align: left;
	margin-top: 10px;
}

.user .col-md-9 h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;

}
.user .col-md-9 p{
	font-family: 'Open Sans', sans-serif;
	color: #a4a5a8;

}


/****************
stylish part css start here
**************/
.stylish{
	width: 100%;
	background-image: url(../img/pic.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 70px 0px;
	height: 50vh;
	text-align: center;
}
.stylish .col-md-12 h1{
	color: #ffffff;

}
.stylish  .line-2{
	border-bottom: 2px solid #ffffff;
	width: 7%;
	margin: 30px auto;
}
.stylish .col-md-12 p{
	color: #aeb2b1;

}
.stylish .btn {

}
.stylish .btn button{
	background-color: transparent;
	padding: 5px 10px;
	color: #ffffff;
	border: 2px solid #fff;
}
.stylish .btn button:hover{
	background-color: #ffffff;
	color: black;
}
.stylish .btn button:focus{
	outline: none;
}



/**************
contact-us form css starts here

*************/
.contact-us{
	width: 100%;
	padding: 70px 0px;
	text-align: center;
}

.contact-us form input{
	width: 100%;
	border: none;
	border-bottom: 1px solid #d6d6d6;
	margin: 20px 0px;
    margin-right: 25px;
    padding-left: 15px;
}
.contact-us form input:focus{
	outline: none;
}
.contact-us form input::placeholder{
	outline: none;
	color: #dedede;
	margin-bottom: 0;
}

.contact-us textarea{
	width: 100%;
	border: none;
	border-bottom: 1px solid #d6d6d6;
	padding-bottom: 104px;
    margin-left: 25px;
    padding-top: 21px;
}

.contact-us textarea::placeholder{
	color: #dedede;
}

.contact-us textarea:focus{
	outline: none;
}

.contact-us .btn button{
	margin-top: 30px;
    padding: 5px 20px;
    background-color: #ff9b51;
    color: #ffffff;
    border: none;
    border-radius: 3px;
}
.contact-us .btn button:focus{
	outline: none;
}


/*****************
footer part css starts here

****************/
.social{
	width: 100%;
	text-align: center;
	background-color: black;
}

.social .icon ul li a i{
	font-size: 25px !important;
}
.social .col-md-12 p{
	color: #808080;
	font-family: 'Open Sans', sans-serif;
}




/**************
  Responsive css starts here
***************/


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  .banner{
    height: 80vh;
  }
  .banner-text{
    height: 80vh;
  }

.banner-text h1{
	font-size: 26px;
}
.banner-form{
	height: 80vh;
}

.icon ul li{
	margin-left: 19px;
	font-size: 32px;
}
.service ul{
	padding-left: 0;
}
.service .picture{
	margin-top: 108px;
}
.topic .row{
	flex-direction: column;
}
.topic .col-md-6{
	width: 100%;
}
.topic .topic-pic{
	text-align: center;
}
.topic-2 .row{
	flex-direction: column-reverse;
}
.topic-2 .col-md-6{
	width: 100%;
}
.topic-2 .topic-pic{
	text-align: center;
}
.top-section{
	padding: 60px 0px;
}
.top-part{
	margin-bottom: 60px;
}

.top-section .content h4{
	margin: 13px;
}
.table-1{
	margin: 0px;
}
.m-7 {
	padding: 40px 0px;
}
.stylish{
	height: 35vh;
}
.banner-form form{
	margin-left: 0px;
}





  
}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  .banner{
  	height: auto;
  }
  .banner-form form{
	margin-left: 0px;
	}
	.banner-text{
		text-align: center;
	}
	.banner-text h1{
		width: auto;
	}
	.banner-text .line{
		margin:20px  auto;
	}
	.content{
		text-align: center;
	}
	.icon ul li{
		margin: 0px 8px;
		font-size: 26px;
	}
	.social-media{
		box-shadow: none;
	}
	.icon ul {
	    padding-left: 1.3rem;
	  
	}
	.service ul li{
		display: inline-block;
	}
	.service ul{
		padding-left: 1.3rem;

	}
	.service .col-md-5{
		text-align: center;
        margin-left: 13px;
	}
	
	.topic ul {
        padding-left: 0px;
    }
    .pic-detail{
    	margin-left: 0px;
    }
    .imag .detail {
        margin-left: 20px;
    } 
    .topic .pic-detail .line-2{
    	margin: 30px auto;
    }
    .topic .ht{
    	text-align: center;
    }
    .topic .pc{
    	text-align: center;
    }
    .topic-2{
    	text-align: center;
    }
    .topic-2 .topic-info .line-3{
    	margin: 30px auto;
    }
    .topic-2 .topic-pic{
    	margin-left: 0px;
    }
    .top-section{
    	padding: 60px 0px;
    }
    .top-part h1{
    	font-size: 26px;
    }
    .top-part{
    	margin-bottom: 30px;
    }
    .top-part p{
    	padding: 0px 10px;
    }
    .top-section .content p {
        padding: 0px 10px;	
    }
    .top-section .col-md-4{
    	margin-bottom: 20px;
    }
    .pricing .table-1{
    	margin: 0px;
    }
    .pricing .col-md-4{
    	margin-bottom: 15px;
    }
    .pricing{
    	padding-bottom: 0px;
    }
    .user .col-md-3{
    	padding-right: 12px;
        margin-bottom: 8px;

    }
    .user .col-md-9{
    	text-align: center;
    }
    .same-section h1{
    	font-size: 18px;
    }


}




